.bear {
	display: block;
	position: absolute;
	left: 16px;
	bottom: 0;
}

.button_holder {
	text-align: center;
}

#button {
	border-radius: 6px;
	background-color: orange;
	font: normal 20px sans-serif;
	color: white;
	padding: 10px 16px;
	border: 1px darkorange;
	outline: none;
}

#phrase {
	color: white;
	font-size: 4em;
	/*line-height: 4em;*/
	margin-top: 1em;
	text-align: center;
}

/* gender dependent */

body.female {
	background-color: lightpink;
}

body.male {
	background-color: lightblue;
}

.male #button {
	background-color: blue;
}

.female #button:active {
	background-color: darkorange;
}

.male #button:active {
	background-color: darkblue;
}
