#bear {
	display: block;
	position: absolute;
	left: 16px;
	bottom: 0;
}

.button_holder {
	text-align: center;
}

#button {
	border-radius: 6px;
	background-color: orange;
	font: normal 2em sans-serif;
	color: white;
	padding: 10px 16px;
	border: 1px darkorange;
	outline: none;
}

#button.secondary {
	font-size: 1.2em;
}

#phrase {
	color: white;
	font-size: 4em;
	/*line-height: 4em;*/
	margin-top: 1em;
	text-align: center;
}

.switcher {
	position: absolute;
	top: 4px;
	right: 8px;
	font: normal 12px sans-serif;
	cursor: pointer;
}

.switcher span {
	padding: 3px;
}

.switcher .active {
	border: 1px solid white;
	cursor: default;
}

body:after {
	content : "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity : 0.1;
	z-index: -1;
}

.about {
	position: absolute;
	bottom: 4px;
	right: 16px;
}

.about .share {
	text-align: right;
	vertical-align: middle;
	color: white;
	font: bold 0.9em sans-serif;
}

.about .share img {
	vertical-align: middle;
}

.about .readme a {
	color: grey;
	font: normal 1em sans-serif;
}

/* gender dependent */

body.female {
	background-color: lightpink;
}

body.female:after {
	background-image: url("/images/hearts-wallpaper.png");
}

body.male {
	background-color: lightblue;
}

body.male:after {
	background-image: url("/images/tools-wallpaper.png");
}
.male #button {
	background-color: blue;
}

.female #button:active {
	background-color: darkorange;
}

.male #button:active {
	background-color: darkblue;
}

.switcher #male {
	color: navy;
}

.switcher #female {
	color: magenta;
}